*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    background-color: #4a06ac;
    color: #ecf3f3;
    font-size: 18px;
    height: 45px;
}
.header p{
    margin-top: 15px;
}
.header .fa-bars{
    margin-left: 17px;
}
.header .fa-bell{
    margin-right: 17px;
}
.fa-bell, .fa-bars{
    font-size: 20px;
}
.box{
    color: #ecf3f3;
    background-color: #4c44e2;
    border-radius: 7px;
    height: 110px;
}
.box i{
    margin-top: -10px;
}
.box p{
    font-weight: 500;
    font-size: 15px;
}
.box .office{
    margin-top: -13px;
}
.details{
    border: 0 solid gray;
    border-radius: 7px;
    box-shadow: 0px 0px 8px gray;
    line-height:11px;
    font-size: 15px;
    height: 200px;
    margin-top: -10px;
}
.footer img{
    height: 80px;
    width: 200px;
}
